.card-news {
    img {
        height: 75px;
        width: auto;
    }

    .title {
        padding: 15px;
    }

    .badges {
        position: absolute;
        top: 0;
        right: 0;

        .badge {
            margin-left: 5px;

            &.reddit {
                background-color: #FF5700;
            }
        }
    }

    .card-action {
        span {
            margin-left: 0;
        }

        a.right {
            margin-right: 0 !important;
        }
    }
}
