<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Warn"
    internalLogFile="internal-nlog.txt">

    <!-- Load the ASP.NET Core plugin -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File"
            name="logFile"
            layout="${longdate} [ ${pad:padding=5:fixedLength=true:alignmentOnTruncation=right:inner=${level}} ] ${pad:padding=30:fixedLength=true:alignmentOnTruncation=right:inner=${logger}} : ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"
            lineEnding="Default"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            archiveFileName="${currentdir}/Logs/old/API.{#}.log"
            maxArchiveFiles="30"
            fileName="${currentdir}/Logs/API.log"
            concurrentWrites="false"/>

        <target xsi:type="ColoredConsole"
            name="coloredConsole"
            useDefaultRowHighlightingRules="false">

            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="White"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Green"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="Gray"/>
        </target>

        <target xsi:type="Null" name="blackhole" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        
        <!--Skip unwanted -->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="Quartz.*" minlevel="Trace" writeTo="blackhole" final="true" />

        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Info" writeTo="coloredConsole" />
        <logger name="*" minlevel="Warn" writeTo="logFile" />
    </rules>
</nlog>